<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div>
        <h3>
            <a href="/home">Home</a>
            | <a href="/beers">Beers</a>
            | <a href="/about">About</a>
        </h3>
    </div>
</header>

<div>

    <!-- The main content of the page goes here -->

</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>