<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeerTag | AllBeers</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div>
        <h3>
            <a th:href="@{/}">Home</a>
            | <a th:href="@{/beers}">Beers</a>
            | <a th:href="@{/about}">About</a>
        </h3>
    </div>
</header>

<div>
    <!-- If there are no beers -->

    <div th:if="${beers.isEmpty()}">
        <h2>No Beers</h2>
    </div>
    <!-- If there are beers -->
    <div th:if="${!beers.isEmpty()}">
        <h2>All Beers</h2>
        <div class="table">
            <div class="header">
                <div class="header-cell">Name</div>
                <div class="header-cell">ABV</div>
                <div class="header-cell">Style</div>
                <div class="header-cell"
                     th:if="${creatorEmail != null}">Creator email</div>
            </div>
            <div class="row" th:each="beer : ${beers}">
                <div class="cell">
                    <a th:href="@{/beers/{id}(id=${beer.getId()})}" th:text="${beer.getName()}">Beer Name 1</a>
                </div>
                <div class="cell" th:text="${beer.getAbv()} + '%'">5.0%</div>
                <div class="cell" th:text="${beer.getStyle().getName()}">IPA</div>
                <div class="cell"
                     th:if="${creatorEmail != null}"
                     th:text="${creatorEmail}">Creator email</div>
            </div>
        </div>
    </div>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>